/* General */

*{
    margin: 0;
    padding: 0;
    font-family: 'roboto',sans-serif;
}

body{
    background-color: #13161c ;
}

/* Colors and thema */
div.board-item,
button.keys,
button.buttonKeyboard,
header.header,
div.warning,
button.buttonKeyboardRemove,
button.buttonKeyboardEnter{
    color: #fff;
    font-weight: bold;
}

div.section-main{
    width: 100vw;
    height: 100vh;
}

/* Header */
header.header,
section.content-main{
    background-color: #13161c;
    width: 100%;
}

header.header{
    height: 64px;
    border-bottom: 1px solid #3f3d3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Three lines */
div.Three-lines{
    height: 20px;
    width: 20px;

    display: flex;
    flex-direction: column;
    margin-left: 16px;

    cursor: pointer;
    position: relative;
}

div.line1,
div.line2,
div.line3{
    width: 20px;
    height: 3px;

    border-radius: 3px;
    position: absolute;

    background-color: #fff;
    transition: transform 1000ms, opacity 1000ms ;
}

div.line1{
    top: 2px;
}

div.line2{
   top: 8px;
}

div.line3{
   top: 14px;
}



div.ClickOn div.line1{
    top:9px;
    transform: rotate(135deg)
}

div.ClickOn div.line2{
    opacity: 0;

    transition: opacity 0s;
}

div.ClickOn div.line3{
    top: 9px;
    transform: rotate(225deg)
}

/* Title */
div.title{
    display: flex;
}

div.Name{
    font-size: 30px;
}

div.MyName{
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
    margin-left: 8px;
}

/* Main content */
section.content-main{
    height: calc(100% - 64px);
    position: relative;
}

/* Options */

div.options{
    width: 100%;
    height: 0px;

    top: 0;
    left: 0;
    

    position: absolute;

    background-color: #212121;
    color: #fff;
    
    transition:  1000ms;
    overflow: hidden;
}

div.options div.Options-box-main{
    padding: 16px;
}

div.options div.Options-box-main hr{
    border: .5px solid #c2c2c2;
    margin: 8px 0;
}

div.options div.Options-box-main h2{
    margin-top: 16px;
}

div.options div.Options-box-main div{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 6px 0;
}

div.options div.Options-box-main svg{
    fill: #fff;
    height: 40px ;
}

div.options div.Options-box-main a{
    text-decoration: none;
    color: #fff;
    margin-left: 16px;
}

div.options div.Options-box-main svg.linkOut{
    height: 30px;
}

/* Animation */

div.optionsShow{
    width: 100%;
    height: 100%;
   overflow: scroll;


}


div.container-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* content-main */
section.content-main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* warning */
div.warning{
    margin: 20px 0;
    background-color: green;
    padding: 7.5px 12.5px;
    border-radius: 20px;

    text-align: center;
    font-weight: normal;
    font-size: 14px;

    opacity: 1;
}

/* Board */

div.board{
    height: auto;
    width: auto;

    margin: 0 0 10px 0;

    display: grid;
    grid-template-rows: repeat(6,1fr);
    gap: 5px;

}

div.row-item{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
}

div.board-item{
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    
    border: 2px solid #3a3a3c;;
    border-radius: 5px;

    font-size: 30px;
}


/* Keyboard */
div.keyboard{
    height: 200px;
    width: 360px;

    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 5px;

    margin:15px 5px 0 5px;
}

div.Row-keys-first{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    
    height: 58px;
}
div.Row-keys-second{
    padding: 0 18px;

    display: grid;
    grid-template-columns: repeat(9,1fr);

    height: 58px;
}

div.Row-keys-third{
    display: grid;
    grid-template-columns: repeat(9,1fr);

    height: 58px;
}

button.keys{
    /* width: 43px;
    height: 60px; */
    
    height: 58px;

    margin: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
}

button.buttonKeyboardRemove,
button.buttonKeyboardEnter{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40.05px;
    height: 58px;
    margin: 2px 2px ;
}

button.keys,
button.buttonKeyboardEnter,
button.buttonKeyboardRemove{
    background-color:#818384;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

/* button.keys:hover,
button.buttonKeyboardEnter:hover,
button.buttonKeyboardRemove:hover{
    background-color: purple;
    box-shadow: 0 0 20px purple;
    transition: 500ms;
} */



div.Green,
button.Green{
    background-color: green  ;
}

div.Yellow,
button.Yellow{
    background-color: #b59f3b ;
}

div.Black,
button.Black{
    background: blueviolet;
}
